.custom-cross {
    text-align: center;
}

.custom-radio-input {
   background-color: transparent !important;
   
}


.custom-radio-input textarea::placeholder{
    color:#101828;
}

.custom-resize{
    resize: none;
}