
.custom-cross {
    text-align: center;
}

.custom-check-input {
   background-color: transparent !important;
   
}

.custom-check-input textarea::placeholder{
    color:#101828;
}

.custom-resize{
    resize: none;
}