.custom-placeholder{
  resize: none;

}

.custom-form-title textarea::placeholder{
    color: #101828;
    font-size: 24px;
    font-family: Inter;
    font-weight: 600;
    line-height: normal;
  } 


  